/*文字颜色
最浅 rgb(170, 170, 170)
稍浅 rgb(153, 153, 153)
正常 rgb(102, 102, 102)
最黑 rgb(51, 51, 51)
蓝色 rgb(0, 141, 253)
红色 rgb(255, 0, 0)
暗红色 #d91f1f
*/

body,div,section {
	margin: 0;
	padding: 0;
	height: 100%;
}

span {
	font-family: SimHei,"微软雅黑",sans-serif;
}

a,button,input {
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}

body { -webkit-user-select:none;}

#content { display: none;}

.foot_links {
	position:relative;
	bottom: 10px;
	top: 10px;
	left:0;
	height: 30px;
	width: 100%;
	/*background: red;*/
}

.foot_links button {
	color: rgb(0, 141, 253);
	font-size: 14px;
	/*text-align: center;*/
	width: 100px;
	border:none;
	outline: none;
	background: none;
	position: absolute;
}



#score_synthesize {
	padding-top: 10px;
	padding-bottom: 5px;
}
#head_span_01 {
	color: #333; 
	font-size:14px;
	padding-left: 15px;
	padding-right: 10px;
}
#head_span_02 {
	color: red; font-size: 14px;
}
#head_span_03 {
	color: red; font-size: 17px;
}

#score_details {
	width: 100%;
	height: 280px;
	 margin-bottom: -10px;
}

svg {
/*	background-color: rgba(170,170,170,0.6);
*/	width:300px;
	height:200px;
	/*根据尺寸计算坐标*/
	margin: calc((280px - 200px)/2) calc(50% - 200px);
}

.report_radius {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	text-align: center;
	position: absolute;
	color: #fff!important;
	display: inline-block;
}

/*顶部--生理分数*/
#report_radius_1 {
	background-color: rgba(37,191,255,1);
	top: 50px;
	right: calc(50% - 50px);
	right:-webkit-calc(50% - 50px);
}

#report_radius_2 {
	background-color: rgb(255, 164, 57);
	top: 170px;
	left: calc(50% - 140px);
	left:-webkit-calc(50% - 140px);
}

#report_radius_3 {
	background-color: rgb(0, 200, 132);
	top: 170px;
	right: calc(50% - 140px);
	right:-webkit-calc(50% - 140px);
}

.report_radius_span {
	height: 50px;
	line-height: 70px;
}

#score_comment {
	padding-bottom: 15px;
	padding-left: 10px;
}
#middle_span_comment {
	color: rgb(153, 153, 153); 
	font-size: 13px;
	font-family: HiraginosansGB-W3;
}

div#suggetion ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
	/*height: 40px;*/
}

div#suggetion ul li {
	float: left;  /* 向左漂移，将竖排变为横排 */
	width: 25%;
	height: 30px;
	border-bottom: 0.5px rgb(200, 200, 200) solid;
}

div#suggetion ul li a, div#suggetion ul li a {
	text-align: center;
	color: rgb(102, 102, 102);
	font-size: 15px;
	font-family: HiraginosansGB-W3;
	display: block;
	line-height: 30px;
	text-decoration: none;
}

div#suggetion ul li a.seleted_li_a, div#suggetion ul li a:active  {
	color: rgb(0, 141, 253);
	border-bottom: 2px rgb(0, 141, 253) solid;
}

 
.suggetion_content_text {
	line-height: 22px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(51,51,51);
	text-align: left;
	font-size: 14px;
}

.noRecord_background {
	text-align:center;
	margin-top:40px;
}
.noRecord_background>div {
	display: inline-block;
	width:150px; 
	height:100px;
	/*padding:0; */
	border-style:none;
	background: url(../img/noRecord.png) no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
}

.nodata_text{
	height: 100%;
}

/*//////////////*/
/*饮食建议组件样式*/
/*//////////////*/

.food_recommend_text {
	font-size: 14px;
	color: rgb(51,51,51);
	line-height: 20px;
	padding-left: 10px;
	padding-top: 40px;
	white-space:pre-wrap;
}

.food_recommend_text strong {
	color:rgb(0, 141, 253);
}

.chart_background {
	display: -webkit-flex; /* Safari */
  	display: flex;
  	flex-direction:column;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	height: 270px;
  	background: red;
	
}

.chart_item {
	background: green;
	width: 150px;
	height: 80px;
}

.right_chart_item {
	margin-left: calc(100% - 300px);
}

.categary_list::before {
	content:"常见食物举例";
	height: 36px;
	line-height: 36px;
	color: rgb(51,51,51);
	font-size: 15px;
	padding-left: 10px;
}

.categary_cell .food_categary_subtitle {
	padding-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	border: 0.5px rgba(200, 200, 200,0.6) solid;
	height: 32px;
	line-height: 32px;
}

.categary_cell .food_categary_content {
	/*height: 60px;*/
	width: 100%;
	/*background: red;*/
}

.categary_cell  .food_categary_content .food_categary_item {
	display: inline-block;
	width: 33.33%;
	text-align: center;
	color: rgb(51,51,51);
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 6px;

}

.red_tips {
	color: #d91f1f;
	font-size: 14px;
	line-height: 20px;
	padding-left: 10px;
	padding-top: 8px;
	border-top: 0.5px rgba(200, 200, 200,0.6) solid;
	white-space:pre-wrap;
}